/* card design*/
.manga-card {
    width: 148px;
    flex-shrink: 0;
}

.manga-card img {
    width: 148px;
}

.manga-card h3 {
    margin-top: 10px;
    font-size: 1rem;
}

.x-scroll {
    display: flex;
    gap: 24px;
    overflow-x: auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}