ul {
    list-style: none;
}

/* layout */
.contain {
    margin: 20px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "episode details"
        "episode reviews";
    gap: 24px;
}

.episode {
    grid-area: episode;
}

.details {
    grid-area: details;
}

.reviews {
    grid-area: reviews;
}

/* hero design */
.manga-hero {
    margin: 0 160px;
    display: flex;
}

.manga-hero img {
    width: 300px;
    height: auto;
}

.info {
    margin-left: 48px;
}

.info h2 {
    font-size: 56px;
}

.info > p > a:not(:last-child)::after {
    content: ", ";
}

/* grid design */
.episode {
    border: 2px solid black;
    padding: 24px;
}

.details {
    border: 2px solid black;
    padding: 24px;
}

.reviews {
    border: 2px solid black;
    padding: 24px;
}

.detail {
    margin-bottom: 40px;
}

.detail table {
    margin: 0 auto;
    width: 90%;
}

.detail th, td {
    text-align: center;
    vertical-align: middle;
}

/* user design */
.user-info img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.user-info {
    display: flex;
}

.user-names p, .user-names time, .user-names data{
    margin: 0;
}

.reviews li {
    margin-bottom: 70px;
}

/* volume style */
.volume {
    display: flex;
    margin-top: 30px;
}

.volume-info {
    margin-left: 20px;
}

.volume-list>li>ul>li {
    margin-top: 10px;
}

.volume-list>li>ul>li>span:first-child {
    margin-right: 10px;
}

.leftovers::before {
    content: "未収録";
}

.leftovers {
    margin-top: 30px;
}