body {
    background-color: #eee;
    margin: 0;
    height: 100vh;
}

h1, h2, h3, h4 {
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
    padding: 0;
}

/* header design */
.top {
    display: flex;
    margin: 20px 40px 12px 40px;
}

.top h1 {
    margin: 0;
}

.user {
    position: absolute;
    top: 20px;
    right: 40px;
}

.user img {
    border-radius: 50%;
    width: 64px;
}

nav {
    display: flex;
    background-color: #fff;
    padding: 0px 48px;
}

nav ul {
    display: flex;
    gap: 48px;
}

/* footer design */
footer {
    text-align: center;
}