ul {
    list-style: none;
}

.tags {
    margin: 0;
    padding: 0;
}

.tags li {
    padding: 4px 12px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: var(--color-tag-bg);
    color: var(--color-tag-txt);
}